//variables
$primaryColor:    #187585;
$backgroundColor: #E0FFFD;
$fontColor:          #CF2F4E;
$subFontColor:   #033088;
$fontStack:        Alegreya, 'Times New Roman';
$sansStack:     'Open Sans', sans-serif;
$gradColor:         rgba(28,171,196,1.0);
//$gradColor:         rgba(33,194,224,1.0);
$gradTo:            rgba(0,208,244,1.0);
// $gradTo:            rgba(137,237,255,1.0);
$transparentWhite: rgba(227,246,246,0.8);
//images?
$stegoPic: "https://openclipart.org/image/2400px/svg_to_png/222933/Stegosaurus.png";
$oatmealBg: "images/oatmealbg.jpg";
$grainsBg: "https://static.pexels.com/photos/366968/pexels-photo-366968.jpeg";
//fonts

@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans')
