//variables
$primaryColor:    #21C2E0;
$backgroundColor: #E0FFFD;
$fontColor:          #F36962;
$subFontColor:   #033088;
$fontStack:        Alegreya, 'Times New Roman';
$sansStack:     'Open Sans', sans-serif;
$gradColor:         rgba(33,194,224,1.0);
$gradTo:            rgba(137,237,255,1.0);
$transparentWhite: rgba(227,246,246,0.9803921568627451);
//images?
$stegoPic: "https://openclipart.org/image/2400px/svg_to_png/222933/Stegosaurus.png";
$oatmealBg: "images/oatmealbg.jpg";

//fonts

@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans')
